body {
    background:linear-gradient(to right,rgb(224, 223, 122),rgb(178, 228, 98))
}

.pokeContainer{
display:grid;
grid-template-columns: 100px 100px 100px;
gap:5px;
justify-content: center;
}

.pokeCard {
background-color: rgb(224, 223, 122);
border-radius: 8px;
padding: 5px;
display: flex;
flex-direction: column;
align-items: center;
box-shadow: 0 0 4px rgba(92, 90, 90, 0.822);
}